@import 'Styles/constants.scss';

.film-card {
    %base-font {
        color: $font-light;
        font-family: $font-base;
        letter-spacing: 2px;
        font-weight: normal;
        font-size: 14px;
    }
    .card-title, .card-text, .text-right, .text {
        @extend %base-font;
        display: block;
    }

    .card-title {
        font-weight: bold;
        font-size: 18px;
    }

    .release-date {
        @extend %base-font;
        display: inline;
        float: right;
        border-color: $font-light;
        border-style: solid;
        border-width: 1px;
        padding: 3px;
    }
}