@import "Styles/constants.scss";


.btn.base-button {
  color: $font-light;
  font-family: $font-base;
  box-sizing: border-box;
  margin: 5px 5px;
  width: 80%;
  max-width: 150px;
  background: rgba(85, 85, 85, 0.5);
  border-radius: 2px;
  border: transparent;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;

  &:hover {
    background: rgba(246, 82, 97, 0.3);
    color: $font-light;
  }

  &.active {
    background: $pink;
  }

  &.pink {
    background: $pink;
  }

}
