//colors

$font-light: #ffffff;
$background: #555555;
$pink: #f65261;
$dark-grey: #424242;
$green: #A1E66F;
$black: #232323;
//font families
$font-base: "Lucida Sans Unicode", "Lucida Grande", sans-serif;