@import "Styles/constants.scss";

.film-description {
  %base-font {
    color: $font-light;
    font-family: $font-base;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 14px;
  }

  .film-description-title,
  .rating,
  .genre,
  .date-and-duration,
  .description {
    @extend %base-font;
  }

  .film-description-title {
    font-size: 2rem;
  }

  .rating {
    margin-left: 10px;
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    color: $green;
    padding: 7px;
    border: 1px solid $font-light;
    //   height:100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    //  width:100px;
  }

  .highlight {
    color: $pink;
    font-size: 1.6rem;
  }

  .date-and-duration {
    font-size: 12px;

    .duration {
      margin-left: 15px;
    }
  }

  .card-title {
    font-weight: bold;
    font-size: 18px;
  }

  .release-date {
    @extend %base-font;

    display: inline;
    float: right;
    border-color: $font-light;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
  }
}
